<mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Registro Equipos</ng-template>
      <ng-template matStepContent>
        <p>Realice la busqueda del equipo o realize el registro</p>
        <app-busqueda (equipoDato)="equipoDato= $event"></app-busqueda>
        <table *ngIf="equipoDato" class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Activo Fijo</th>
              <th>Tipo de Equipo</th>
              <th>Propietario</th>
              <th>Unidad Organizacional</th>
              <th>Marca</th>
              <th>Observaciones</th>

            </tr>
            </thead>
            <tbody>
              <tr >
                <td>{{equipoDato.serieActivoFijo}}</td>
                <td>{{equipoDato.tipoEquipo}}</td>
                <td>{{equipoDato.propietario}}</td>
                <td>{{equipoDato.unidadOrg}}</td>
                <td>{{equipoDato.marca}}</td>
                <td>{{equipoDato.observaciones}}</td>
                 </tr>
            </tbody>
        </table>

        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Registro Ticket</ng-template>
      <ng-template matStepContent>
        <p>Registre los datos del Ticket</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Asignacion ticket</ng-template>
      <p>Asigne el ticket generado a un tecnico.</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
