<mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Registro Equipos</ng-template>
      <ng-template matStepContent>
        <p>Realice la busqueda del equipo o realize el registro</p>
        <app-busqueda (equipoDato)="equipoDato= $event"></app-busqueda>
        <table *ngIf="equipoDato" class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Activo Fijo</th>
              <th>Tipo de Equipo</th>
              <th>Propietario</th>
              <th>Unidad Organizacional</th>
              <th>Marca</th>
              <th>Observaciones</th>

            </tr>
            </thead>
            <tbody>
              <tr >
                <td>{{equipoDato.serieActivoFijo}}</td>
                <td>{{equipoDato.tipoEquipo}}</td>
                <td>{{equipoDato.propietario}}</td>
                <td>{{equipoDato.unidadOrg}}</td>
                <td>{{equipoDato.marca}}</td>
                <td>{{equipoDato.observaciones}}</td>
                 </tr>
            </tbody>
        </table>

        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Registro Ticket</ng-template>
      <ng-template matStepContent>
        <p>Registre los datos del Ticket</p>
      <form>
        <div class="row">
            <div class="col-md-4 w-75">
                <div class="form-group">
                    <label for="descripcion">Descripcion de Problema</label>
                    <input type="text" name="descripcion" class="form-control"
                    [(ngModel)]="ticket.descripcion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 w-75">
                <div class="form-group">
                    <label for="prioridad">Prioridad</label>
                    <input type="text" name="prioridad" class="form-control"
                    [(ngModel)]="ticket.prioridad">>
                </div>
            </div>
        </div>
       
    </form>
     
        <div class="form-group">
                       
          <button type ="button"  class="btn btn-primary" (click)="ticket.id? editar(): crear()">{{equipoDato.id? 'Editar': 'Guardar'}}</button>
      </div>
      </ng-template>
    </mat-step>
   
  </mat-stepper>
