<mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Registro Equipos</ng-template>
      <ng-template matStepContent>
         <app-equipos-reg></app-equipos-reg>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Registro Ticket</ng-template>
      <ng-template matStepContent>
        <p>Registre los datos del Ticket</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Asignacion ticket</ng-template>
      <p>Asigne el ticket generado a un tecnico.</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>