<div class="card bg-light mb-3" >
  <div class="card-header">{{titulo}}</div>
    <div class="card-body">
      <button class="btn btn-primary my-2" routerLink="/tickets/reg">Crear Ticket</button>
<table class ="table table-hover table-striped">
  <thead>
    <tr>
      <th>Numero de Ticket</th> 
       <th>Descripcion</th>
       <th>Dispositivo</th>
       <th>Prioridad</th>
       <th>Fecha de Registro</th>
       <th>Fecha Inicio</th>
       <th>Fecha Fin</th>
       <th>Estado</th>
       <th>Editar</th>
       <th>Eliminar</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ticket.id}}</td>
      <td>{{ticket.descripcion}}</td>
      <td>{{ticket.dispositivo}}</td>
      <td>{{ticket.prioridad}}</td>
      <td>{{ticket.fechaRegistro}}</td>
      <td>{{ticket.fechaInicio}}</td>
      <td>{{ticket.fechaFin}}</td>
      <td>{{ticket.estado}}</td>
      <td><button class="btn btn-secondary btn-sm" [routerLink]="['/usuarios/form',ticket.id]">Editar</button></td>
      <td><button class="btn btn-danger btn-sm">eliminar</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>
